<!--<p>{{ tarefa.titulo }}</p>-->

<!--TODO: Implementar o card assim que der tempo -->
<!--<div class="task">-->
<!--  <mat-card outlined-container-shape="rounded">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>{{ tarefa.titulo }}<mat-icon [ngStyle]="{'color':'red'}" (click)="onDelete(tarefa)">close</mat-icon></mat-card-title>-->
<!--       <mat-card-subtitle>{{ tarefa.categoria }}</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--  </mat-card>-->
<!--</div>-->

<!-- div simulando o card de cada tarefa -->
<div class="task"
     (dblclick)="onToggle(tarefa)"
     [ngClass]="{reminder: tarefa.concluido}">
  <h3>{{ tarefa.titulo }}
    <!-- TODO: Adicionar ícone de um lápis para editar as informações das tarefas -->
    <!--    <mat-icon [ngStyle]="{'color':'black'}" (click)="onDelete(tarefa)">edit</mat-icon>-->

    <!-- Ícone/Botão para excluir -->
    <mat-icon [ngStyle]="{'color':'red'}" (click)="onDelete(tarefa)">close</mat-icon>
  </h3>
  <p>{{ tarefa.categoria }}</p>
  <!-- <p>{{ tarefa.descricao }}</p>-->
  <p *ngIf="tarefa.descricao" class="description">{{ tarefa.descricao }}</p>
  <p *ngIf="!tarefa.descricao" class="no-description">Nenhuma descrição fornecida.</p>
</div>
