.task {
  background-color: #f4f4f4;
  margin: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

/* Para destacar as tarefas concluídas */
.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  margin: 0 0 10px 0;
  color: #555;
  font-size: 14px;
}

.no-description {
  font-style: italic;
  color: #999;
  font-size: 14px;
}

