<!--<ul>-->
<!--  @for (tarefa of tarefas; track tarefa.id) {-->
<!--  <li>{{tarefa.titulo}}</li>-->
<!--  } @empty {-->
<!--    <li>Não há tarefas no momento.</li>-->
<!--  }-->
<!--</ul>-->

<input type="text" [(ngModel)]="filtro" (input)="buscarTarefas()" placeholder="Buscar tarefas..." class="form-control">
<!-- Recebe a tarefa que está vindo do event de onAddTask -->
<app-add-task (onAddTask)="addTask($event)"></app-add-task>
@for (tarefa of tarefas; track tarefa.id) {
  <app-task-item [tarefa]="tarefa"
                 (onDeleteTask)="deleteTask($event)"
                 (onToggleConcluido)="toggleConcluido($event)"
  ></app-task-item>
}



