<!--<ul>-->
<!--  @for (tarefa of tarefas; track tarefa.id) {-->
<!--  <li>{{tarefa.titulo}}</li>-->
<!--  } @empty {-->
<!--    <li>Não há tarefas no momento.</li>-->
<!--  }-->
<!--</ul>-->

<!-- TODO: Para corrigir e reimplementar na aplicação -->

<!-- TODO: Comentei apenas para testar a conexão com o Spring-->
<!--<div class="filter-container">-->
<!--  &lt;!&ndash; Campo de busca por título &ndash;&gt;-->
<!--  <input-->
<!--    type="text"-->
<!--    [(ngModel)]="filtro"-->
<!--    (input)="buscarTarefas()"-->
<!--    placeholder="Buscar por título..."-->
<!--    class="form-control search-input"-->
<!--  >-->

<!--  &lt;!&ndash; Dropdown de categorias &ndash;&gt;-->
<!--  <select [(ngModel)]="filtroCategoria" (change)="buscarTarefas()" class="form-control category-dropdown">-->
<!--    <option value="">Filtrar por categoria</option>-->
<!--    <option value="Casa">Casa</option>-->
<!--    <option value="Trabalho">Trabalho</option>-->
<!--    <option value="Faculdade">Faculdade</option>-->
<!--    <option value="Academia">Academia</option>-->
<!--    <option value="Lazer">Lazer</option>-->
<!--  </select>-->
<!--</div>-->

<!-- Recebe a tarefa que está vindo do event de onAddTask -->
<app-add-task (onAddTask)="addTask($event)"></app-add-task>

<!-- Listagem das tarefas -->
@for (tarefa of tarefas; track tarefa.id) {
  <app-task-item [tarefa]="tarefa"
                 (onDeleteTask)="deleteTask($event)"
                 (onToggleConcluido)="toggleConcluido($event)">
  </app-task-item>
}
