.btn-salvar {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-salvar:hover {
  background-color: gray;
}

select:invalid {
  color: gray;
}





